.bg-blue-horizon {
	background-color: #4b6584;
}

.text-blue-horizon {
	color: #4b6584;
}

.bg-blue-gray {
  background-color: #778ca3;
}

.text-blue-gray {
  color: #778ca3;
}

.bg-twinkle-blue {
  background-color: #d1d8e0;
}

.text-twinkle-blue {
  color: #d1d8e0;
}

.bg-high-blue {
  background-color: #45aaf2;
}

.text-high-blue {
  color: #45aaf2;
}

.bg-light-green {
  background-color: #55efc4;
}

.text-light-green {
  color: #55efc4;
}

.bg-light-blue {
  background-color: #7ed6df;
}

.text-light-blue {
  color: #7ed6df;
}

.bg-royal-blue {
  background-color: #4183D7;
}

.text-royal-blue {
  color: #4183D7;
}

.bg-alice-blue {
  background-color: #E4F1FE;
}

.text-alice-blue {
  color: #E4F1FE;
}

.bg-nectar {
  background-color: #ffbe76;
}

.text-nectar {
  color: #ffbe76;
}

.bg-cararra {
  background-color: #F2F1EF;
}

.text-cararra {
  color: #F2F1EF;
}

.bg-sea-green {
  background-color: #1BA39C;
}

.text-sea-green {
  color: #1BA39C;
}

.bg-cream {
  background-color: #F5D76E;
}

.text-cream {
  color: #F5D76E;
}